<searchheader></searchheader>


<div class="container">
    <div class="single">
        <div class="row">
          <div class="col-md-4">
              <div class="col_3">
                  <h3>Reset Password</h3>
                  <div id="login-content">
                      <form #f="ngForm" (ngSubmit)="ResetPassword(f.value)">
                          <div class="textbox-wrap">
                              <div class="input-group">
                                  <span class="input-group-addon "><i class="fa fa-user"></i></span>
                                  <!--input type="text" required="required" class="form-control" placeholder="Username"-->
                                  <input type="text" required="required" [value]="login.username"  ngModel name="username" #username="ngModel" id="username" class="form-control" placeholder="Email" value="Username" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Username';}"/>
                              </div>
                          </div>
                          <button class="btn btn-default" type="submit" value=" Submit" id="submit" name="submit" >
                              <i class="fa fa-user"></i>&nbsp;Re-set Password
                          </button>

                      </form>

                  </div>

              </div>
              <advertisement></advertisement>
          </div>


          <div class="col-md-8">
              <div class="col_3">
                  <technews></technews>
              </div>
          </div>


          </div>
          <div class="clearfix"> </div>

        </div>
  </div>

