

   <!-- Navbar-->
   <navbar></navbar>
   <router-outlet></router-outlet>
  <!--nav class="navbar navbar-expand-lg navbar-light navbar-default">
    <a class="navbar-brand" href="#"><img src="assets/images/logo.png" alt=""/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Jobs
          </a>
          <div class="dropdown-menu" >

            <a class="dropdown-item" href="location.html">Contract Jobs</a>
            <a class="dropdown-item" href="location.html">Walkin Jobs</a>
            <a class="dropdown-item" href="location.html">Jobs by Location</a>
            <a class="dropdown-item" href="location.html">Jobs by Function</a>
            <a class="dropdown-item" href="location.html">Jobs by Industry</a>
                                               
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="location.html">Walkin Jobs</a> 
          </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Services
            </a>
            <div class="dropdown-menu" >
  
              <a class="dropdown-item" href="Services.html">Services 1</a>
              <a class="dropdown-item" href="Services.html">Services 2</a>
              <a class="dropdown-item" href="Services.html">Services 3</a>
              <a class="dropdown-item" href="Services.html">Services 4</a>
              <a class="dropdown-item" href="Services.html">Services 5</a>
                                                 
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="Services.html">Services 6</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Recruiters
            </a>
            <div class="dropdown-menu" >
  
              <a class="dropdown-item" href="recruiters.html">Recruiters Updates</a>
              <a class="dropdown-item" href="recruiters.html">Recruiters Upload Jobs</a>

                                                 
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="recruiters.html">Recruiters you are follwoing</a>
            </div>
        </li>

      </ul>
      <ul class="nav navbar-nav">
        <li><a href="login.html">Login</a></li>
        <li><a href="resume.html">Upload Resume</a></li>
      </ul>

    </div>
  </nav-->
 <!-- Navbar End-->
  <!--div class="row">
    <div class="col-xs-9 col-md-7" style="background-color:red;">.col-xs-9 .col-md-7</div>
    <div class="col-xs-3 col-md-5" style="background-color:lavender;">.col-xs-3 .col-md-5</div>
  </div-->

  <!--midsearch></midsearch-->
  <!--div class="banner">
      <div class="container">
        <div id="search_wrapper"-->
         <!--div id="search_form" class="clearfix"-->
         <!--div id="search_form" >
           <br><br><br><br>
         <h1>Start your job search</h1>
            <p>
           <input type="text" class="text" placeholder=" " value="Enter Keyword(s)" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Keyword(s)';}">
           <input type="text" class="text" placeholder=" " value="Location" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Location';}">
           <label class="btn2 btn-2 btn2-1b"><input type="submit" value="Find Jobs"></label>
          </p>
                <h2 class="title">top Countries &amp; searches</h2>
             </div>
         <div id="city_1" class="clearfix">
           <ul class="orange">
           <li>
           <a href="#">Japan</a>
           </li>
           <li>
           <a href="#" title="Kenya Jobs">Kenya</a>
           </li>
           <li>
           <a href="#" title="Australia Jobs">Australia</a>
           </li>
           <li>
           <a href="#" title="Poland Jobs">Poland</a>
           </li>
           <li>
           <a href="#" title="Oman Jobs">Oman</a>
           </li>
           <li>
           <a href="#" title="Pakistan jobs">Pakistan</a>
           </li>
           <li>
           <a href="#" title="Saudi Arbia Jobs">Saudi Arbia</a>
           </li>
           <li>
           <a href="#" title="Doha Jobs">Doha</a>
           </li>
           </ul>
           <ul class="orange">
           <li>
           <a href="#" title="Russia Jobs">Russia</a>
           </li>
           <li>
           <a href="#" title="Germany Jobs">Germany</a>
           </li>
           <li>
           <a href="#" title="Canada Jobs">Canada</a>
           </li>
           <li>
           <a href="#" title="Hong Kong Jobs">Hong Kong</a>
           </li>
           <li>
           <a href="#" title="Spain Jobs">Spain</a>
           </li>
           <li>
           <a href="#" title="Thailand Jobs">Thailand</a>
           </li>
           <li>
           <a href="#" title="Norway Jobs">Norway</a>
           </li>
           <li>
           <a href="#" title="Srilanka Jobs">Srilanka</a>
           </li>
           </ul>
           <ul class="blue">
           <li>
           <a href="#" title="Information Technology">Mexico</a>
           </li>
           <li>
           <a href="#" title="Fresher">Fresher</a>
           </li>
           <li>
           <a href="#" title="Engineering">Engineering</a>
           </li>
           <li>
           <a href="#" title="Finance Jobs">Finance</a>
           </li>
           <li>
           <a href="#" title="Teaching">Teaching</a>
           </li>
           <li>
           <a href="#" title="Software">Software</a>
           </li>
           <li>
           <a href="#" title="Accounting">Accounting</a>
           </li>
           <li>
           <a href="#" title="Data Entry">Data Entry</a>
           </li>
           </ul>
           <ul class="blue">
           <li>
           <a href="#" title="Marketing Jobs">Marketing </a>
           </li>
           <li>
           <a href="#" title="Freelancer">Freelancer</a>
           </li>
           <li>
           <a href="#" title="Internet Jobs">Internet</a>
           </li>
           <li>
           <a href="#" title="Sales">Sales</a>
           </li>
            <li>
           <a href="#" title="Legal">Legal</a>
           </li>
           <li>
           <a href="#" title="HR">HR</a>
           </li>
           <li>
           <a href="#" title="MBA">MBA</a>
           </li>
           <li>
           <a href="#" title="Pharma">Pharma</a>
           </li>
           </ul>
           </div>
           </div>
       </div>
  </div-->




  <!--div class="container">

      <div class="single">
        <div class="row">
         <div class="col-md-4">
             <div class="col_3">
               <h3>Todays Jobs</h3>
               <ul class="list_1">
                  <li><a href="#">Department of Health - Western Australia</a></li>
                  <li><a href="#">Australian Nursing Agency currently require experiences</a></li>
                  <li><a href="#">Russia Nursing Agency currently require experiences</a></li>
                  <li><a href="#">The Government of Western Saudi Arbia</a></li>
                  <li><a href="#">Department of Health - Western Australia</a></li>
                  <li><a href="#">Australian Nursing Agency currently require experiences</a></li>
                  <li><a href="#">Russia Nursing Agency currently require experiences</a></li>
                  <li><a href="#">The Scientific Publishing Services in Saudi Arbia</a></li>
                  <li><a href="#">BPO Private Limited in Canada</a></li>
                  <li><a href="#">Executive Tracks Associates in Pakistan</a></li>
                  <li><a href="#">Pyramid IT Consulting Pvt. Ltd. in Pakistan</a></li>
                </ul>
             </div>
             <div class="col_3">
               <h3>Jobs by Category</h3>

             </div>
             <div class="widget">
              <h3>Take The Seeking Poll!</h3>
           </div>
         </div>


         <div class="col-md-4">
            <div class="col_3">
                <a href="single.html"><img src="assets/images/a1.jpg" class="img-responsive" alt=""/></a>

            </div>
            <div class="col_3">
                <a href="single.html"><img src="assets/images/a2.jpg" class="img-responsive" alt=""/></a>

            </div>
            <div class="col_3">
                <a href="single.html"><img src="assets/images/a1.jpg" class="img-responsive" alt=""/></a>
          </div>
        </div>

        <div class="col-md-4">
            <div class="col_3">
              <h3>Todays Jobs</h3>
              <ul class="list_1">
                  <li><a href="#">Department of Health - Western Australia</a></li>
                  <li><a href="#">Australian Nursing Agency currently require experiences</a></li>
                  <li><a href="#">Russia Nursing Agency currently require experiences</a></li>
                  <li><a href="#">The Government of Western Saudi Arbia</a></li>
                  <li><a href="#">Department of Health - Western Australia</a></li>
                  <li><a href="#">Australian Nursing Agency currently require experiences</a></li>
                  <li><a href="#">Russia Nursing Agency currently require experiences</a></li>
                  <li><a href="#">The Scientific Publishing Services in Saudi Arbia</a></li>
                  <li><a href="#">BPO Private Limited in Canada</a></li>
                  <li><a href="#">Executive Tracks Associates in Pakistan</a></li>
                  <li><a href="#">Pyramid IT Consulting Pvt. Ltd. in Pakistan</a></li>
                </ul>
            </div>
            <div class="col_3">
                <h3>Jobs by Category</h3>
              <li><a href="#">Railway Recruitment</a></li>
              <li><a href="#">Air Force Jobs</a></li>
              <li><a href="#">Police Jobs</a></li>
              <li><a href="#">Intelligence Bureau Jobs</a></li>
              <li><a href="#">Army Jobs</a></li>
              <li><a href="#">Navy Jobs</a></li>
              <li><a href="#">BSNL Jobs</a></li>
              <li><a href="#">Software Jobs</a></li>
              <li><a href="#">Research Jobs</a></li>
            </div>
            <div class="widget">
             <h3>Take The Seeking Poll!</h3>
          </div>
        </div>


        </div>
        <div class="clearfix"> </div>
      </div>

  </div-->

  <footer></footer>
  <!--div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3 grid_3">
          <h4>Navigate</h4>
          <ul class="f_list f_list1">
            <li><a href="index.html">Home</a></li>
            <li><a href="login.html">Sign In</a></li>
            <li><a href="login.html">Join Now</a></li>
            <li><a href="about.html">About</a></li>
          </ul>
          <ul class="f_list">
            <li><a href="features.html">Features</a></li>
            <li><a href="terms.html">Terms of use</a></li>
            <li><a href="contact.html">Contact Us</a></li>
            <li><a href="jobs.html">Post a Job</a></li>
          </ul>
          <div class="clearfix"> </div>
        </div>
        <div class="col-md-3 grid_3">
          <h4>Twitter Widget</h4>
          <div class="footer-list">
            <ul>
            <li><i class="fa fa-twitter tw1"> </i><p><span class="yellow"><a href="#">consectetuer</a></span> adipiscing elit web design</p></li>
            <li><i class="fa fa-twitter tw1"> </i><p><span class="yellow"><a href="#">consectetuer</a></span> adipiscing elit web design</p></li>
            <li><i class="fa fa-twitter tw1"> </i><p><span class="yellow"><a href="#">consectetuer</a></span> adipiscing elit web design</p></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 grid_3">
          <h4>Seeking</h4>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
        </div>
        <div class="col-md-3 grid_3">
          <h4>Sign up for our newsletter</h4>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam.</p>
          <form>
            <input type="text" class="form-control" placeholder="Enter your email">
            <button type="button" class="btn red">Subscribe now!</button>
            </form>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div-->

    <!--div class="footer_bottom">
      <div class="container">
        <div class="col-sm-2">
          <ul class="f_list2">
          <li><a href="jobs.html">Russia Jobs</a></li>
          <li><a href="jobs.html">Australia Jobs</a></li>
          <li><a href="jobs.html">Srilanka Jobs</a></li>
          <li><a href="jobs.html">Poland Jobs</a></li>
          </ul>
        </div>
        <div class="col-sm-2">
          <ul class="f_list2">
          <li><a href="jobs.html">New Zealand Jobs</a></li>
          <li><a href="jobs.html">Pakistan Jobs</a></li>
          <li><a href="jobs.html">Srilanka Jobs</a></li>
          <li><a href="jobs.html">Irland Jobs</a></li>
          </ul>
        </div>
        <div class="col-sm-2">
          <ul class="f_list2">
          <li><a href="jobs.html">Canada Jobs</a></li>
          <li><a href="jobs.html">Germany Jobs</a></li>
          <li><a href="jobs.html">China Jobs</a></li>
          <li><a href="jobs.html">Nepal Jobs</a></li>
          </ul>
        </div>
        <div class="col-sm-6 footer_text">
           <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numqua"</p>
        </div>
        <div class="clearfix"> </div>
      <div class="copy">
        <p>Copyright © 2015 Seeking . All Rights Reserved . Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
      </div>
      </div>
    </div-->
    


