
<searchheader></searchheader>

<div class="container">
    <div class="single">
        <div class="form-container">

            
              <!-- <a [routerLink]="['']" class="read-more"><<Back</a> -->
              <!-- <button (click)="HomePage()" class="btn btn-primary btn-sm">Back to Home</button>&nbsp;&nbsp; -->
              <div *ngFor="let tnews of techNewsDetails">
                <h2>{{tnews.fields.subHeader}}</h2>
                <!-- <b>{{tnews.fields.subHeader}}</b> -->
                <img src="{{ tnews.fields.detailPageImageUrl}}"/>
                <br>
                <div [innerHTML]="tnews.fields.detailText | mdToHtml"></div>
              </div>
        </div>
    </div>
</div>
