
 <!--div class="banner">
      <div class="container">
        <div id="search_wrapper"-->
         <!--div id="search_form" class="clearfix"-->
         <!--div id="search_form" >
           <br><br><br><br>
         <h1>Start your job search</h1>
            <p>
           <input type="text" class="text" placeholder=" " value="Enter Keyword(s)" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Keyword(s)';}">
           <input type="text" class="text" placeholder=" " value="Location" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Location';}">
           <label class="btn2 btn-2 btn2-1b"><input type="submit" value="Find Jobs"></label>
          </p>
                <h2 class="title">top Countries &amp; searches</h2>
             </div>
         <div id="city_1" class="clearfix">
           <ul class="orange">
           <li>
           <a href="#">Japan</a>
           </li>
           <li>
           <a href="#" title="Kenya Jobs">Kenya</a>
           </li>
           <li>
           <a href="#" title="Australia Jobs">Australia</a>
           </li>
           <li>
           <a href="#" title="Poland Jobs">Poland</a>
           </li>
           <li>
           <a href="#" title="Oman Jobs">Oman</a>
           </li>
           <li>
           <a href="#" title="Pakistan jobs">Pakistan</a>
           </li>
           <li>
           <a href="#" title="Saudi Arbia Jobs">Saudi Arbia</a>
           </li>
           <li>
           <a href="#" title="Doha Jobs">Doha</a>
           </li>
           </ul>
           <ul class="orange">
           <li>
           <a href="#" title="Russia Jobs">Russia</a>
           </li>
           <li>
           <a href="#" title="Germany Jobs">Germany</a>
           </li>
           <li>
           <a href="#" title="Canada Jobs">Canada</a>
           </li>
           <li>
           <a href="#" title="Hong Kong Jobs">Hong Kong</a>
           </li>
           <li>
           <a href="#" title="Spain Jobs">Spain</a>
           </li>
           <li>
           <a href="#" title="Thailand Jobs">Thailand</a>
           </li>
           <li>
           <a href="#" title="Norway Jobs">Norway</a>
           </li>
           <li>
           <a href="#" title="Srilanka Jobs">Srilanka</a>
           </li>
           </ul>
           <ul class="blue">
           <li>
           <a href="#" title="Information Technology">Mexico</a>
           </li>
           <li>
           <a href="#" title="Fresher">Fresher</a>
           </li>
           <li>
           <a href="#" title="Engineering">Engineering</a>
           </li>
           <li>
           <a href="#" title="Finance Jobs">Finance</a>
           </li>
           <li>
           <a href="#" title="Teaching">Teaching</a>
           </li>
           <li>
           <a href="#" title="Software">Software</a>
           </li>
           <li>
           <a href="#" title="Accounting">Accounting</a>
           </li>
           <li>
           <a href="#" title="Data Entry">Data Entry</a>
           </li>
           </ul>
           <ul class="blue">
           <li>
           <a href="#" title="Marketing Jobs">Marketing </a>
           </li>
           <li>
           <a href="#" title="Freelancer">Freelancer</a>
           </li>
           <li>
           <a href="#" title="Internet Jobs">Internet</a>
           </li>
           <li>
           <a href="#" title="Sales">Sales</a>
           </li>
            <li>
           <a href="#" title="Legal">Legal</a>
           </li>
           <li>
           <a href="#" title="HR">HR</a>
           </li>
           <li>
           <a href="#" title="MBA">MBA</a>
           </li>
           <li>
           <a href="#" title="Pharma">Pharma</a>
           </li>
           </ul>
           </div>
           </div>
       </div>
  </div-->

<!--midsearch></midsearch-->
<searchheader></searchheader>

<div class="container">

  <div class="single">
    <div class="row">
     <div class="col-md-4">
        <technews></technews>
         <!--div class="col_3">
           <h3>Todays Jobs</h3>
           <ul class="list_1">
              <li><a href="#">Department of Health - Western Australia</a></li>
              <li><a href="#">Australian Nursing Agency currently require experiences</a></li>
              <li><a href="#">Russia Nursing Agency currently require experiences</a></li>
              <li><a href="#">The Government of Western Saudi Arbia</a></li>
              <li><a href="#">Department of Health - Western Australia</a></li>
              <li><a href="#">Australian Nursing Agency currently require experiences</a></li>
              <li><a href="#">Russia Nursing Agency currently require experiences</a></li>
              <li><a href="#">The Scientific Publishing Services in Saudi Arbia</a></li>
              <li><a href="#">BPO Private Limited in Canada</a></li>
              <li><a href="#">Executive Tracks Associates in Pakistan</a></li>
              <li><a href="#">Pyramid IT Consulting Pvt. Ltd. in Pakistan</a></li>
            </ul>
         </div-->
         <!--div class="col_3">
           <h3>Jobs by Category</h3>

         </div>
         <div class="widget">
          <h3>Take The Seeking Poll!</h3>
       </div-->
     </div>

    
     <div class="col-md-4">
        <middleimage></middleimage>
        <!--div class="col_3">
            <a href="single.html"><img src="assets/images/a1.jpg" class="img-responsive" alt=""/></a>

        </div>
        <div class="col_3">
            <a href="single.html"><img src="assets/images/a2.jpg" class="img-responsive" alt=""/></a>

        </div>
        <div class="col_3">
            <a href="single.html"><img src="assets/images/a1.jpg" class="img-responsive" alt=""/></a>
      </div-->
    </div>

    <div class="col-md-4">
        <advertisement></advertisement>
        <!--div class="col_3">
          <h3>Todays Jobs</h3>
          <ul class="list_1">
              <li><a href="#">Department of Health - Western Australia</a></li>
              <li><a href="#">Australian Nursing Agency currently require experiences</a></li>
              <li><a href="#">Russia Nursing Agency currently require experiences</a></li>
              <li><a href="#">The Government of Western Saudi Arbia</a></li>
              <li><a href="#">Department of Health - Western Australia</a></li>
              <li><a href="#">Australian Nursing Agency currently require experiences</a></li>
              <li><a href="#">Russia Nursing Agency currently require experiences</a></li>
              <li><a href="#">The Scientific Publishing Services in Saudi Arbia</a></li>
              <li><a href="#">BPO Private Limited in Canada</a></li>
              <li><a href="#">Executive Tracks Associates in Pakistan</a></li>
              <li><a href="#">Pyramid IT Consulting Pvt. Ltd. in Pakistan</a></li>
            </ul>
        </div-->
        <!--div class="col_3">
            <h3>Jobs by Category</h3>
          <li><a href="#">Railway Recruitment</a></li>
          <li><a href="#">Air Force Jobs</a></li>
          <li><a href="#">Police Jobs</a></li>
          <li><a href="#">Intelligence Bureau Jobs</a></li>
          <li><a href="#">Army Jobs</a></li>
          <li><a href="#">Navy Jobs</a></li>
          <li><a href="#">BSNL Jobs</a></li>
          <li><a href="#">Software Jobs</a></li>
          <li><a href="#">Research Jobs</a></li>
        </div>
        <div class="widget">
         <h3>Take The Seeking Poll!</h3>
      </div-->
    </div>


    </div>
    <div class="clearfix"> </div>
  </div>

</div>

