
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Premier Tech Career/Job Site">
    <meta name="keywords" content="job,Career,Job Search,Career Search,Technology Job,Tech Job,Tech Careers,Talent,Search Resume, 
    Post job,Resume,Resume Services,Find Jobs,find job,Office,Human resources,career opportunities,career link,career jump,
    Technology Careers">
    <title>Memore link(Job/Career Site)</title>
</head>
<searchheader></searchheader>

<div class="container">

    <div class="single">
        <div class="row">

        <div class="col-md-8">
            <div class="col_3">

        	    <technews></technews>

            </div>
        </div>

        <div class="col-md-4">
            <div class="col_3">
                <advertisement></advertisement>
            </div>
        </div>
        <div class="clearfix"> </div>
        </div>

    </div>
</div>

