
<searchheader [keyword]="keyword" [location]= "location"></searchheader>
<div class="container">
  <div class="single">

    

      <table>
        <tr>
          <td>
            <h3 class="title" style="color: red;">Job Description</h3>
          </td>
          <td>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button (click)="jobList()" class="btn btn-primary btn-sm">Back to search</button>&nbsp;&nbsp;
            <button type="button" value="Apply Now" (click)="onApply()" class="btn btn-primary btn-sm">Apply Now</button>
          </td>
        </tr>
      </table>
      
      <hr/>


      <div class="row">





   
        


            <div class="col-md-8">



              <!--div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab"-->
              <!--div class="tab_grid" *ngFor="let pj of pjob" >
                  <h2>{{ pj.JobTitle }}</h2>
                  <div class="jobs-item with-thumb">
                    <div class="thumb"><a routerLink="/jobdetails"><img src="assets/images/a2.jpg" class="img-responsive" alt=""/></a></div>
                    <div class="jobs_right">
                    <div class="date">{{ pj.CreatedDate.substring(3,5) }} <span>{{ monthNumToSigName(pj.CreatedDate.substring(0,2)) }}</span></div>
                    <div class="date_desc"><h6 class="title"><a routerLink="/jobdetails">{{ pj.JobTitle }}</a></h6>
                      <span class="meta">{{ pj.JobCity }}, {{ pj.JobState }}</span>
                    </div>
                    <div class="clearfix"> </div>
                                <ul class="top-btns">
                      <li><a href="#" class="fa fa-plus toggle"></a></li>
                      <li><a href="#" class="fa fa-star"></a></li>
                      <li><a href="#" class="fa fa-link"></a></li>
                    </ul>
                    <p class="description">{{ pj.JobDesc }} <a [routerLink]="['/jobdetails',id]" class="read-more">Read More</a></p>
                            </div>
                  <div class="clearfix"> </div>
                </div>
              </div-->



              <h3 *ngIf="pjob !=null"> {{ pjob.JobTitle }}&nbsp;({{ pjob.JobCity }},{{ pjob.JobState }})</h3>

              <div *ngIf="pjob !=null" [innerHTML]="pjob.JobDesc"></div>

              <br>
              <h3 *ngIf="pjob !=null"> Requirements</h3>
              <div *ngIf="pjob !=null" [innerHTML]=" pjob.Skills"></div>


          </div>
          <div class="col-md-4">
              <div class="col_3">
                <advertisement></advertisement>
                <!--h3>Todays Jobs</h3>
                <ul class="list_1">
                  <li><a href="#">Department of Health - Western Australia</a></li>
                  <li><a href="#">Australian Nursing Agency currently require experiences</a></li>
                  <li><a href="#">Russia Nursing Agency currently require experiences</a></li>
                  <li><a href="#">The Government of Western Saudi Arbia</a></li>
                  <li><a href="#">Department of Health - Western Australia</a></li>
                  <li><a href="#">Australian Nursing Agency currently require experiences</a></li>
                  <li><a href="#">Russia Nursing Agency currently require experiences</a></li>
                  <li><a href="#">The Scientific Publishing Services in Saudi Arbia</a></li>
                  <li><a href="#">BPO Private Limited in Canada</a></li>
                  <li><a href="#">Executive Tracks Associates in Pakistan</a></li>
                  <li><a href="#">Pyramid IT Consulting Pvt. Ltd. in Pakistan</a></li>
                </ul>
              </div-->
              <!--div class="col_3">
                <h3>Jobs by Category</h3>
                <ul class="list_2">
                  <li><a href="#">Railway Recruitment</a></li>
                  <li><a href="#">Air Force Jobs</a></li>
                  <li><a href="#">Police Jobs</a></li>
                  <li><a href="#">Intelligence Bureau Jobs</a></li>
                  <li><a href="#">Army Jobs</a></li>
                  <li><a href="#">Navy Jobs</a></li>
                  <li><a href="#">BSNL Jobs</a></li>
                  <li><a href="#">Software Jobs</a></li>
                  <li><a href="#">Research Jobs</a></li>
                </ul>
              </div>
              <div class="widget">
                <h3>Take The Seeking Poll!</h3>
                    <div class="widget-content">
                      <div class="seeking-answer">
                  <span class="seeking-answer-group">
                    <span class="seeking-answer-input">
                      <input class="seeking-radiobutton" type="radio">
                    </span>
                    <label for="" class="seeking-input-label">
                      <span class="seeking-answer-span">Frequently</span>
                    </label>
                  </span>
                  <span class="seeking-answer-group">
                    <span class="seeking-answer-input">
                      <input class="seeking-radiobutton" type="radio">
                    </span>
                    <label for="" class="seeking-input-label">
                      <span class="seeking-answer-span">Interviewing</span>
                    </label>
                  </span>
                    <span class="seeking-answer-group">
                    <span class="seeking-answer-input">
                      <input class="seeking-radiobutton" type="radio">
                    </span>
                    <label for="" class="seeking-input-label">
                      <span class="seeking-answer-span">Leaving a familiar workplace</span>
                    </label>
                  </span>
                  <div class="seeking_vote">
                    <a class="seeking-vote-button">Vote</a>
                  </div>
                </div>
                  </div>
              </div-->
          </div>
      </div>


      <div class="clearfix"> </div>
  </div>
</div>

